<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YUSUF UAS</title>
    <link rel="stylesheet" type=" text/css"href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>
    
    <!-- header -->
    <div class="medsos">
         <div class="container">
              <ul>
                  <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
                  <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
              </ul>
          </div>
    </div>
    <header>
        <div class="container">
            <h1><a href="index.html">laudry</a></h1>
            <ul>
                <li class><a href="index.html">HOME</a></li>
                <li><a href="jadwal.html">JADWAL</a></li>
                <li><a href="harga.html">HARGA</a></li>
            </ul> 
        </div>      
    </header>

    <!-- Yusuf -->
    <section class="yusuf">
        <h2>Yusuf website</h2>
    </section>

    <!-- about -->
    <section class="jadwa">
        <div class="container">
        <h3>JADWAL</h3>
        <p>Senin-Sabtu.</p>
        </div>
    </section>

    <!-- about -->
    <section class="harga">
        <div class="container">
        <h4>HARGA</h4>
        <p>4000/Kg.</p>
        </div>
    </section>
</body>
</html>